/*Start CSS Reset!*/

@import "cssReset.css";
/*Ende CSS Reset!*/

/*Start Globales Styling */

* {
    font-family: "Tahoma", Times New Roman, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: #0091cd;
}

button {
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 1px 5px 0px rgb(0, 0, 0);
    transition: all 0.2s ease;
}

button:focus {
    outline: 0;
}

a,
a:focus,
a:active,
a::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    outline: 0;
}

/*Ende Globales Styling Ende */

/*Start Page wrapper*/

.displayNoneImportant {
    display: none !important;
}

.wrap-eingang {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "wrapHeader" "wrapMain" "wrapFooter";
    width: 97vw;
    margin: 1.5vh auto 0 auto;
    border-radius: 0.2vw;
    box-shadow: 0px 2px 20px 1px rgb(4, 10, 43);
}

/*Ende Page wrapper*/

/*Start Header wrap*/

.wrap-header {
    display: grid;
    grid-area: wrapHeader;
    grid-template-rows: repeat(3, auto);
    height: 100%;
    width: 100%;
}

.wrap-header.beurteilung {
    grid-template-rows: repeat(4, auto);
}

.header-a-button-home {
    display: grid;
    justify-content: center;
    align-content: center;
    text-decoration: none;
}

img {
    -webkit-transition: scale 1s ease-in;
    -moz-transition: scale 1s ease-in;
    -o-transition: scale 1s ease-in;
    transition: scale 1s ease-in;
}

img:hover {
    transform: scale(1.2);
}

.img-home {
    width: 4vw;
    height: auto;
}

.img-search {
    width: 3vw;
    height: auto;
}

.img-search:hover {
    cursor: pointer;
}

.header-caption-eingang {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 100%;
    padding: 0.7vw 0;
    border-radius: 0.2vw 0.2vw 0 0;
    font-size: 4vw;
    text-align: center;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    background-color: gainsboro;
}

.header-caption {
    grid-column: 2;
    width: 100%;
    height: 100%;
    text-align: center;
}

.header-input-eingang {
    grid-row: 2;
    width: 100%;
    outline: 0;
    border-right: solid 1px gainsboro;
    border-left: solid 1px gainsboro;
    border-bottom: solid 2px #9a9a9a;
    font-size: 2vw;
    text-align: center;
    box-shadow: 0px 0px 6px 0px rgb(0, 0, 0);
    background-color: ghostwhite;
}

.header-input-eingang.beurteilung-abteilung {
    grid-row: 3;
}

.header-fail-message-wrap {
    grid-row: 3;
    display: grid;
    align-content: center;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    box-shadow: 0px 1px 5px 0px rgb(0, 0, 0);
    background: #ff3100;
}

.header-fail-message-wrap.beurteilung {
    grid-row: 4;
}

.header-fail-message-content {
    margin: 10px 0;
    text-align: center;
    font-size: 3vw;
}

.header-fail-message-content-margin {
    margin: 100px 0;
    font-size: 4vw;
}

.header-fail-message-animation {
    max-height: 40vw;
}

.double-input::after {
    content: "Das Muster ist bereits in der Auflistung vorhanden.";
    white-space: pre-wrap;
}

.fail-input::after {
    content: "Die Eingabe ist leer oder entspricht keiner Probennummer!";
    white-space: pre-wrap;
}

.fail-input-not-a-nummber::after {
    content: "Die Eingabe entspricht keiner Probennummer!";
    white-space: pre-wrap;
}

.fail-input-verwaltung::after {
    content: "Ups!\A \A Sie habe in einer oder mehreren Zeile/n \A \A keine Auswahl getroffen!";
    white-space: pre-wrap;
}

.fail-input-search-modal::after {
    content: "Ihre Eingabe entspricht keiner g&#252;ltige Probennummer!";
    white-space: pre-wrap;
}

.fail-input-no-dataset::after {
    content: "Datensatz nicht vorhanden!";
    white-space: pre-wrap;
    font-size: 5vw;
}

.fail-connect::after {
    content: "Die Verbindung zum Server ist fehlgeschlagen!\A \A Bitte versuchen Sie es erneut.";
    white-space: pre-wrap;
}

.fail-forbidden::after {
    content: "Sie haben eine verbotene Buchstabenreihenfolge eingegeben, bitte &#252;berdenken Sie noch mal ihre Eingabe!";
    white-space: pre-wrap;
}

.no-server::after {
    content: "Die Verbindung zum Server ist fehlgeschlagen!\A \A Bitte versuchen Sie es erneut.";
    white-space: pre-wrap;
}

.no-database::after {
    content: "Die Verbindung zur Datenbank ist fehlgeschlagen!";
    white-space: pre-wrap;
}

.border-edged {
    border-radius: 0 0 0.2vw 0.2vw;
}

/*Ende Header wrap*/

/*Start Content wrap*/

.wrap-content {
    grid-area: wrapMain;
    display: grid;
    grid-template-rows: repeat(3, auto);
    border-left: solid 1px ghostwhite;
    border-right: solid 1px ghostwhite;
    background-color: ghostwhite;
}

.content-header-row.verwaltung,
.content-main-row.verwaltung,
.content-footer-count-row.verwaltung {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

.content-header-row.beurteilung,
.content-main-row.beurteilung,
.content-footer-count-row.beurteilung {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.content-footer-count-row.verwaltung {
    grid-template-areas: "probenSoll probenSoll eStart eEnde zpnEnde kStart kEnde mStart mErhalt mEinwaage mEnde delete";
}

.content-header-row.eingang,
.content-main-row.eingang,
.content-footer-count-row.eingang {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.content-footer-count-row.eingang {
    grid-template-areas: "probenSoll probenSoll express iVorziehen nickel lfgb toys 60g geklaert nBack delete";
}

.content-header-row {
    background-color: gainsboro;
}

.content-header-cell {
    padding: 1.2vh;
    border-left: solid 1px ghostwhite;
    border-bottom: none;
    border-bottom: 2px solid #18b7fb;
    text-align: center;
    font-size: 1vw;
}

.content-header-cell:nth-child(1),
.content-footer-count-input:nth-child(1) {
    border-left: 0;
}

.content-header-cell:nth-child(3).verwaltung,
.content-header-cell:nth-child(5).verwaltung,
.content-header-cell:nth-child(7).verwaltung,
.content-header-cell:nth-child(8).verwaltung,
.content-header-cell:nth-child(10).verwaltung,
.content-header-cell:nth-child(14).verwaltung,
.content-main-cell:nth-child(3).verwaltung,
.content-main-cell:nth-child(5).verwaltung,
.content-main-cell:nth-child(7).verwaltung,
.content-main-cell:nth-child(8).verwaltung,
.content-main-cell:nth-child(10).verwaltung,
.content-main-cell:nth-child(14).verwaltung,
.content-footer-count-input:nth-child(3).verwaltung,
.content-footer-count-input:nth-child(5).verwaltung,
.content-footer-count-input:nth-child(7).verwaltung,
.content-footer-count-input:nth-child(8).verwaltung,
.content-footer-count-input:nth-child(10).verwaltung,
.content-footer-count-input:nth-child(14).verwaltung {
    border-left-color: #18b7fb;
}

.content-main-row:hover {
    text-shadow: -1px 0 black;
    background-color: #67c0e6;
    box-shadow: 0px 1px 5px 0px rgb(0, 0, 0);
}

.content-main-cell {
    display: grid;
    padding: 0.8vh 0.3vw 0.8vh 0.3vw;
    border-left: solid 1px gainsboro;
    border-bottom: solid 1px gainsboro;
}

.content-main-cell:nth-child(1) {
    border-left: 0;
}

.content-main-text {
    justify-self: center;
    align-self: center;
    font-size: 1vw;
}

.content-button-check {
    height: 100%;
    width: 100%;
    border-radius: 0.2vw;
    font-size: 0.8vw;
    background-color: #ededed;
}

.content-button-check:hover {
    background-color: #ffb700 !important;
}

.content-button-check.checked {
    background-color: #FFB700;
}

.content-button-check.preSet {
    background-color: #ffb700;
}

.content-button-check.preSet:hover {
    background-color: #ffb9a9;
}

.content-button-check.disabled {
    text-decoration-line: line-through;
}

.setButtonStatus {
    background-color: #00ff67;
    text-decoration-line: line-through;
}

.disableMainRowButton {
    text-decoration: line-through;
}

.disableMainRowButton:hover {
    background-color: gainsboro !important;
}

.content-button-delete-wrap {
    display: grid;
}

.content-button-delete {
    width: 100%;
    border-radius: 0.2vw;
    font-size: 0.7vw;
    background-color: #ffb9a9;
}

.content-button-delete:hover {
    background-color: #ff3100;
}

.content-footer-count-row {}

.content-footer-count-input {
    padding: 5px 0 5px 0;
    border-top: solid 2px #18b7fb;
    border-left: solid 1px ghostwhite;
    font-size: 0.8vw;
    text-align: center;
    line-height: 1.2;
    background-color: gainsboro;
}

.eingang.probenSoll,
.verwaltung.probenSoll {
    grid-area: probenSoll;
}

.eingang.sollDatum,
.verwaltung.sollDatum {
    z-index: -1;
    grid-area: probenSoll;
}

.content-footer-counter {
    font-size: 1.5vw;
}

.slideToggle-wrap-hidden-row {
    display: none;
}

.wrap-hidden-row {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "confirmButton cancelButton";
}

.hidden-row {
    font-size: 0.6vw;
}

.hidden-row.confirm-button {
    grid-area: confirmButton;
    background-color: #00b64a;
}

.hidden-row.confirm-button:hover {
    background-color: #10fc6f;
}

.hidden-row.cancel-button {
    grid-area: cancelButton;
    background-color: #ffb9a9;
}

.hidden-row.cancel-button:hover {
    background-color: #ff3100;
}

/*Ender Content wrap*/

/*Start Footer wrap*/

.wrap-footer {
    grid-area: wrapFooter;
    width: 100%;
}

.footer-button-send {
    display: grid;
    grid-area: SendButton;
    width: 100%;
    height: 100%;
    padding-bottom: 0.3vw;
    border: 0;
    border-top: solid 2px #9a9a9a;
    border-radius: 0 0 0.2vw 0.2vw;
    font-size: 3vw;
    background-color: gainsboro;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.footer-button-send:hover {
    background-color: #ffb700;
}

/*Ende Footer wrap*/

/*Start Sticky Footer*/

.sticky-footer-height {
    height: 0;
}

.sticky-footer-message-wrap {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "successContent" "failContent";
    width: 100%;
    position: fixed;
    bottom: 40%;
    right: -2000px;
    transition: transform 300ms cubic-bezier(0.47, 0, 0.75, 0.72);
}

.sticky-footer-message-animation {
    transform: translateX(-2000px);
}

.transmission-successful-wrapper {
    grid-area: successContent;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 10vw;
    background-color: #ffb700;
}

.transmission-success-message-wrap {
    text-align: center;
    font-size: 5vw;
}

.transmission-fail-wrap {
    grid-area: failContent;
    background-color: #ff3100;
    width: 100%;
}

.transmission-failed-wrapper-failMessage {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 5vw;
    width: 100%;
    border-bottom: 1px dashed black;
}

.transmission-fail-message-wrap {
    text-align: center;
    font-size: 3vw;
}

.transmission-failed-wrapper-doubleItems {
    padding: 1vh;
    width: 100%;
    background-color: #ff3100;
}

.transmission-double-input-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
}

.transmission-doubleInput-data {
    padding: 0 10px;
    font-size: 2vw;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

/*Ende Sticky Footer*/

/*Start Highlight Rows*/

.highlightSelectedRow {
    text-shadow: -1px 0 black;
    background-color: rgba(255, 49, 0, 0.5);
}

.highlightSelectedRow:hover {
    background-color: rgba(255, 49, 0, 0.5);
}

.highlightSelectedButton {
    background-color: rgba(255, 49, 0, 0.5) !important;
}

/*Ende Highlight Rows*/