/*Start CSS Reset!*/

@import "cssReset.css";
/*Ende CSS Reset!*/

/*Start Globales Styling */

* {
    font-family: "Tahoma", Times New Roman, sans-serif;
    /*text-shadow: 0px 0px 3px rgba(0, 0, 0, .5);*/
}

body {
    height: 100%;
    width: 100%;
    background-color: #0091CD;
}

button {
    cursor: pointer;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.8);  */
}

button:hover {
    box-shadow: 0px 1px 5px 0px rgb(0, 0, 0);
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.8); */
    transition: all 0.2s ease;
}

button:focus {
    outline: 0;
}

a,
a:focus,
a:active,
a::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    outline: 0;
}

/*Ende Globales Styling Ende */

/*Start Page wrapper*/

.displayNoneImportant {
    display: none !important;
}

.wrap-eingang {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "wrapHeader" "wrapMain" "wrapFooter";
    width: 98vw;
    /* margin: 1vh 1vw; */
    margin: 1.5vh auto 0 auto;
    border-radius: 5px;
    box-shadow: 0px 2px 20px 1px rgb(4, 10, 43);
    /* box-shadow: 0px 1px 5px 0px rgb(0, 0, 0); */
    /* box-shadow: 0 1px 1px 0 rgba(82, 36, 36, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.8);  */
}

/*Ende Page wrapper*/

/*Start Header wrap*/

.wrap-header {
    display: grid;
    grid-area: wrapHeader;
    /*grid-template-columns: 70px 1fr;*/
    grid-template-rows: repeat(3, auto);
    height: 100%;
    width: 100%;
}

.header-a-button-home {
    display: grid;
    /* grid-column: 1; */
    /* grid-row: 1; */
    justify-content: center;
    align-content: center;
    /* width: 20px; */
    /* padding-left: 2vw; */
    /* z-index: 1; */
    text-decoration: none;
}

img {
    -webkit-transition: scale 1s ease-in;
    -moz-transition: scale 1s ease-in;
    -o-transition: scale 1s ease-in;
    transition: scale 1s ease-in;
}

img:hover {
    transform: scale(1.2);
}

.img-home {
    width: 4vw;
    height: auto;
}

.img-search {
    width: 3vw;
    height: auto;
}

.img-search:hover {
    cursor: pointer;
}

.header-caption-eingang {
    /* grid-row: 1; */
    /*z-index: 1;*/
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 100%;
    padding: .7vw 0;
    border-radius: 5px 5px 0 0;
    /* border-radius: 10px 10px 0 0; */
    font-size: 4vw;
    text-align: center;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
    background-color: gainsboro;
}

.header-caption {
    grid-column: 2;
    /* grid-row: 1 / span 3; */
    width: 100%;
    height: 100%;
    text-align: center;
}

.header-input-eingang {
    grid-row: 2;
    width: 100%;
    outline: 0;
    border-right: solid 1px gainsboro;
    border-left: solid 1px gainsboro;
    border-bottom: solid 2px #9A9A9A;
    font-size: 2vw;
    text-align: center;
    box-shadow: 0px 0px 6px 0px rgb(0, 0, 0);
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.8);  */
    background-color: ghostwhite;
}

.header-fail-message-wrap {
    grid-row: 3;
    display: grid;
    align-content: center;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    box-shadow: 0px 1px 5px 0px rgb(0, 0, 0);
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.8); */
    background: #FF3100;
    /* background: #ff0000; */
}

.header-fail-message-content {
    margin: 10px 0;
    text-align: center;
    font-size: 3vw;
}

.header-fail-message-content-margin {
    margin: 100px 0;
    font-size: 4vw;
}

.header-fail-message-animation {
    max-height: 40vw;
}

.double-input::after {
    content: "Das Muster ist bereits in der Auflistung vorhanden.";
    white-space: pre-wrap;
}

.fail-input::after {
    content: "Die Eingabe ist leer oder entspricht keiner Probennummer!";
    white-space: pre-wrap;
}

.fail-input-verwaltung::after {
    content: "Ups!\A \A Sie habe in einer oder mehreren Zeile/n \A \A keine Auswahl getroffen!";
    white-space: pre-wrap;
}

.fail-connect::after {
    content: "Die Verbindung zum Server ist fehlgeschlagen!\A \A Bitte versuchen Sie es erneut.";
    white-space: pre-wrap;
}

.no-server::after {
    content: "Die Verbindung zum Server ist fehlgeschlagen!\A \A Bitte versuchen Sie es erneut.";
    white-space: pre-wrap;
}

.no-database::after {
    content: "Die Verbindung zur Datenbank ist fehlgeschlagen!";
    white-space: pre-wrap;
}

.border-edged {
    border-radius: 0 0 5px 5px;
}

/*Ende Header wrap*/

/*Start Content wrap*/

.wrap-content {
    grid-area: wrapMain;
    display: grid;
    grid-template-rows: repeat(3, auto);
    /* grid-template-areas: "tableHeader" "tableMain" "tableFooter"; */
    /* text-align: center; */
    /* width: 100%; */
    /* margin-top: .1vw; */
    border-left: solid 1px ghostwhite;
    border-right: solid 1px ghostwhite;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.8); */
    background-color: ghostwhite;
}

.content-header-row.verwaltung,
.content-main-row.verwaltung,
.content-footer-count-row.verwaltung {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
}

.content-footer-count-row.verwaltung {
    grid-template-areas: "probenSoll probenSoll eStart eEnde zpnEnde kStart kEnde mStart mErhalt mEinwaage mEnde delete";
}

.content-header-row.eingang,
.content-main-row.eingang,
.content-footer-count-row.eingang {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}

.content-footer-count-row.eingang {
    grid-template-areas: "probenSoll probenSoll express iVorziehen nickel lfgb toys 60g geklaert nBack delete";
}

.content-header-row {
    /* grid-area: tableHeader; */
    /* display: grid; */
    /* grid-template-columns: repeat(10, 10%); */
    /* font-weight: bold; */
    background-color: gainsboro;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.8);  */
}

.content-header-cell {
    /* display: table-cell; */
    padding: 1.2vh;
    /* padding: 1.2vh 0 1.2vh 0; */
    border-left: solid 1px ghostwhite;
    border-bottom: none;
    border-bottom: 2px solid #18B7FB;
    /* border-bottom: 2px solid cornflowerblue; */
    text-align: center;
    font-size: 1vw;
    /* white-space: nowrap; */
    /* vertical-align: middle; */
}

.content-header-cell:nth-child(1),
.content-footer-count-input:nth-child(1) {
    border-left: 0;
}

.content-header-cell:nth-child(3).verwaltung,
.content-header-cell:nth-child(5).verwaltung,
.content-header-cell:nth-child(7).verwaltung,
.content-header-cell:nth-child(8).verwaltung,
.content-header-cell:nth-child(10).verwaltung,
.content-header-cell:nth-child(14).verwaltung,
.content-main-cell:nth-child(3).verwaltung,
.content-main-cell:nth-child(5).verwaltung,
.content-main-cell:nth-child(7).verwaltung,
.content-main-cell:nth-child(8).verwaltung,
.content-main-cell:nth-child(10).verwaltung,
.content-main-cell:nth-child(14).verwaltung,
.content-footer-count-input:nth-child(3).verwaltung,
.content-footer-count-input:nth-child(5).verwaltung,
.content-footer-count-input:nth-child(7).verwaltung,
.content-footer-count-input:nth-child(8).verwaltung,
.content-footer-count-input:nth-child(10).verwaltung,
.content-footer-count-input:nth-child(14).verwaltung {
    border-left-color: #18B7FB;
}

.content-main-row:hover {
    text-shadow: -1px 0 black;
    background-color: #67C0E6;
    /* background-color: #ededed; */
    box-shadow: 0px 1px 5px 0px rgb(0, 0, 0);
    /*background-color: #f2f2f2;*/
}

.content-main-cell {
    display: grid;
    padding: .8vh .3vw .8vh .3vw;
    /* vertical-align: middle; */
    border-left: solid 1px gainsboro;
    border-bottom: solid 1px gainsboro;
    /* font-size: 1.2vw; */
    /* white-space: nowrap; */
}

.content-main-cell:nth-child(1) {
    border-left: 0;
}

.content-main-text {
    justify-self: center;
    align-self: center;
    font-size: 1vw;
}

.content-button-check {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    font-size: .8vw;
    background-color: #ededed;
    /* white-space: nowrap; */
}

.content-button-check:hover {
    background-color: #FFB700 !important;
    /* background-color: #FFc940 !important; */
    /* background-color: #98e698; */
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.8);
    transition: all 0.4s ease; */
}

.setButtonStatus {
    background-color: #00FF67;
    text-decoration-line: line-through;
}

.disableMainRowButton {
    text-decoration: line-through;
}

.disableMainRowButton:hover {
    background-color: gainsboro !important;
}

.content-button-delete-wrap {
    display: grid;
}

.content-button-delete {
    /* height: 100%; */
    width: 100%;
    /* font-size: 95%; */
    /*min-width: 40px;*/
    border-radius: 3px;
    font-size: .7vw;
    background-color: #FFB9A9;
    /* background-color: #f77; */
}

.content-button-delete:hover {
    background-color: #FF3100;
    /* background-color: #f22; */
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.8);
    transition: all 0.4s ease; */
}

.content-footer-count-row {
    /* grid-area: tableFooter; */
    /* display: grid; */
    /* grid-template-columns: repeat(10, 10%); */
    /* width: 100%; */
}

.content-footer-count-input {
    /* display: table-cell; */
    /* height: 3vw; */
    padding: 5px 0 5px 0;
    border-top: solid 2px #18B7FB;
    border-left: solid 1px ghostwhite;
    font-size: .8vw;
    text-align: center;
    line-height: 1.2;
    background-color: gainsboro;
}

.eingang.probenSoll,
.verwaltung.probenSoll {
    grid-area: probenSoll;
}

.eingang.sollDatum,
.verwaltung.sollDatum {
    z-index: -1;
    grid-area: probenSoll;
}

.content-footer-counter {
    font-size: 1.5vw;
}

.slideToggle-wrap-hidden-row {
    display: none;
}

.wrap-hidden-row {
    display: grid;
    grid-template-columns: 50% 50%;
    /*grid-template-rows: auto;*/
    grid-template-areas: "confirmButton cancelButton";
    /* width: 100%; */
}

.hidden-row {
    font-size: .6vw;
}

.hidden-row.confirm-button {
    grid-area: confirmButton;
    background-color: #00B64A;
    /* background-color: #98e698; */
}

.hidden-row.confirm-button:hover {
    background-color: #10FC6F;
    /* background-color: #32CD32; */
}

.hidden-row.cancel-button {
    grid-area: cancelButton;
    background-color: #FFB9A9;
    /* background-color: #f77; */
}

.hidden-row.cancel-button:hover {
    background-color: #FF3100;
    /* background-color: #ff0000; */
}

/*Ender Content wrap*/

/*Start Footer wrap*/

.wrap-footer {
    grid-area: wrapFooter;
    width: 100%;
}

.footer-button-send {
    display: grid;
    grid-area: SendButton;
    width: 100%;
    height: 100%;
    padding-bottom: .3vw;
    border: 0;
    border-top: solid 2px #9A9A9A;
    border-radius: 0 0 5px 5px;
    font-size: 3vw;
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.8); */
    background-color: gainsboro;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
}

.footer-button-send:hover {
    background-color: #FFB700;
    /* background-color: #FFB700; */
    /* background-color: #32CD32; */
}

/*Ende Footer wrap*/

/*Start Sticky Footer*/

.sticky-footer-height {
    height: 0;
}

.sticky-footer-message-wrap {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "successContent" "failContent";
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: -2000px;
    transition: transform 300ms cubic-bezier(0.47, 0, 0.75, 0.72);
}

.sticky-footer-message-animation {
    transform: translateX(-2000px);
}

.transmission-successful-wrapper {
    grid-area: successContent;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 10vw;
    background-color: #FFB700;
    /* background-color: #FFB700; */
    /* background-color: #32CD32; */
}

.transmission-success-message-wrap {
    text-align: center;
    font-size: 5vw;
}

.transmission-fail-wrap {
    grid-area: failContent;
    background-color: #FF3100;
    /* background-color: #ff0000; */
    width: 100%;
}

.transmission-failed-wrapper-failMessage {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 5vw;
    width: 100%;
    border-bottom: 1px dashed black;
}

.transmission-fail-message-wrap {
    text-align: center;
    font-size: 3vw;
}

.transmission-failed-wrapper-doubleItems {
    padding: 1vh;
    width: 100%;
    background-color: #FF3100;
    /* background-color: #ff0000; */
}

.transmission-double-input-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
}

.transmission-doubleInput-data {
    padding: 0 10px;
    font-size: 2vw;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
}

/*Ende Sticky Footer*/

/*Start Highlight Rows*/

.highlightSelectedRow {
    text-shadow: -1px 0 black;
    background-color: rgba(255, 49, 0, 0.5);
    /* background-color: #f22; */
}

.highlightSelectedRow:hover {
    background-color: rgba(255, 49, 0, 0.5);
    ;
    /*background-color: #FF3100;*/
    /* background-color: #f22; */
}

.highlightSelectedButton {
    background-color: rgba(255, 49, 0, 0.5) !important;
    /* background-color: #f22 !important; */
}

/*Ende Highlight Rows*/