/*Start CSS Reset!*/

@import "cssReset.css";
/*Ende CSS Reset!*/

/*Start Globales Styling */

* {
    font-family: "Tahoma", Times New Roman, sans-serif;
}

body {
    height: 97vh;
    width: 97vw;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: #0091cd;
}

.wrap__preview__content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 25% 70%;
    margin: 1.5vh 1.5vw;
}

/* Header Content */

    .wrap__header__preview__content {
        grid-row: 1;
        height: 100%;
        width: 100%;
        display: grid;
        background-color: gainsboro;
        border-radius: .2vw;
        box-shadow: 1px 2px 20px 2px rgba(4, 10, 43, .5);
        overflow: hidden;
    }

    .preview__header__content {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 100%;
}

    .header-a-button-home {
        grid-column: 1;
        display: grid;
}

        .img-home {
            width: 70%;
            height: auto;
            place-self: center;
        }


    .preview__header__caption {
        height: 100%;
        width: 100%;
        grid-column: 2;
        white-space: nowrap;
        display: grid;
        place-items: center;
        font-size: 7vw;
    }

/* Main Content */

    .wrap__main__preview__content {
        grid-row: 2;
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 30%);
        padding-top: 2vw;
        justify-content: space-around;
    }

        .wrap__main__preview__items {
            height: 100%;
            width: 100%;
            display: grid;
            grid-template-rows: 75% auto;
            justify-self: center;
            background-color: ghostwhite;
            border-radius: .2vw;
            box-shadow: 1px 2px 20px 2px rgba(4, 10, 43, .5);
        }

            .main__preview__span {
                width: 100%;
                height: 100%;
                display: grid;
                place-content: center;
                font-size: 20vw;
            }

            .main__preview__caption {
                width: 100%;
                height: 100%;
                display: grid;
                place-content: center;
                font-size: 3vw;
            }

        .wrap__footer__panel__items {
            display: none;
        }

@media (max-height: 400px) {
    body {
        background-color: ghostwhite;
    }

    .wrap__preview__content {
        margin: 0;
    }

    .wrap__header__preview__content, .wrap__main__preview__items {
        display: none;
    }

    .panel__border {
        height: 85vh;
        border-left: 2px solid #0091cd;
        align-self: center;
        box-shadow: 1px 2px 20px 2px rgba(4, 10, 43, .5);
    }

    .wrap__footer__panel__content {
        height: 100vh;
        width: 100vw;
    }

        .wrap__footer__panel__items {
            display: grid;
            height: 100%;
            width: 100%;
            grid-template-columns: 40% .1% auto;
        }

            .wrap__panel {
                display: grid;
            }

                .wrap__panel.left {
                    grid-template-rows: 75% auto;
                }

                    .leftPanel__content {
                        display: grid;
                        place-content: center;
                    }

                    .leftPanel__content.span {
                        font-size: 80vh;
                    }

                    .leftPanel__content.caption {
                        font-size: 10vh;
                    }

                .wrap__panel.right {
                    height: 97vh;
                }

                    .right__panel__content {
                        display: grid;
                        grid-template-rows: repeat(3,1fr);
                        grid-template-columns: 18% 5% auto;
                    }

                        .rightPanel__content {
                            grid-row: 1/4;
                            place-self: center;
                        }

                        .rightPanel__content.span {
                            font-size: 30vh;
                            justify-self: end;
                        }

                        .rightPanel__content.caption.x {
                            font-size: 10vh;
                        }

                        .rightPanel__content.caption.text {
                            font-size: 16vh;
                            justify-self: start;
                        }
}

@media (max-height: 250px) {

    .wrap__footer__panel__items {
        grid-template-columns: 15% .1% auto;
    }

    .wrap__panel.left {
        grid-template-rows: auto;
    }

    .leftPanel__content.caption {
        display: none;
    }

    .wrap__panel.right {
        height: 70vh;
        align-self: center;
        grid-template-areas: "eingang . .";
    }

        .right__panel__content {
            justify-content: center;
        }

        .right__panel__content.eingang {
            grid-area: eingang;
        }

        .rightPanel__content.caption.x {
            visibility: hidden;
        }

        .rightPanel__content.span {
            font-size: 50vh;
        }

        .rightPanel__content.caption.text {
            font-size: 20vh;
        }
}

@media (max-height: 198px) {

    .wrap__panel.right {
        grid-template-areas: "eingang . .";
    }

    .rightPanel__content.span {
        font-size: 50vh;
    }

    .rightPanel__content.caption.x {
        visibility: hidden;
    }

    .rightPanel__content.caption.text {
        font-size: 27vh;
    }
}