/BACKUP
/node_modules/
/typings
/localhost
.eslintrc.js
.idea
.vscode
package-lock.json
package.json
jsconfig.json
package.json
package-lock.json
settings.json
pseudo.txt
zpn-verwaltung.code-workspace