/*Start CSS Reset!*/

@import "cssReset.css";
/*Ende CSS Reset!*/

/*Start Globales Styling */

* {
    font-family: "Tahoma", Times New Roman, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: ghostwhite;
}

button {
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 1px 5px 0px rgb(0, 0, 0);
    transition: all 0.4s ease;
}

button:focus {
    outline: 0;
}

a,
a:focus,
a:active,
a::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    outline: 0;
}

/*Ende Globales Styling Ende */

/*Start Page wrapper*/

.displayNoneImportant {
    display: none !important;
}

.wrap-eingang {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "wrapHeader" "wrapMain" "wrapFooter";
    width: 98vw;
    margin: 1vh 1vw;
    border-radius: .1vw;
    box-shadow: 0px 1px 5px 0px rgb(0, 0, 0);
}

/*Ende Page wrapper*/

/*Start Header wrap*/

.wrap-header {
    display: grid;
    grid-area: wrapHeader;
    grid-template-rows: repeat(3, auto);
    height: 100%;
    width: 100%;
}

.header-a-button-home {
    position: fixed;
    left: 2.6vw;
    top: 3.2vh;
}

img {
    width: 2vw;
    height: auto;
    -webkit-transition: scale 1s ease-in;
    -moz-transition: scale 1s ease-in;
    -o-transition: scale 1s ease-in;
    transition: scale 1s ease-in;
}

img:hover {
    transform: scale(2);
}

.header-caption-eingang {
    grid-row: 1;
    height: 100%;
    padding: .7vw 0;
    border-radius: .1vw .1vw 0 0;
    font-size: 4vw;
    text-align: center;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
    background-color: gainsboro;
}

.header-input-eingang {
    grid-row: 2;
    width: 100%;
    outline: 0;
    border-right: solid 1px gainsboro;
    border-left: solid 1px gainsboro;
    border-bottom: solid 2px #9A9A9A;
    font-size: 2vw;
    text-align: center;
    box-shadow: 0px 1px 5px 0px rgb(0, 0, 0);
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.8);  */
    background-color: ghostwhite;
}

.header-fail-message-wrap {
    grid-row: 3;
    display: grid;
    align-content: center;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
    box-shadow: 0px 1px 5px 0px rgb(0, 0, 0);
    background: #ff0000;
}

.header-fail-message-content {
    margin: 10px 0;
    text-align: center;
    font-size: 3vw;
}

.header-fail-message-content-margin {
    margin: 100px 0;
    font-size: 4vw;
}

.header-fail-message-animation {
    max-height: 40vw;
}

.double-input::after {
    content: "Muster bereits in der Liste vorhanden.";
    white-space: pre-wrap;
}

.fail-input::after {
    content: "Die Eingabe ist leer oder entspricht keiner Probennummer!";
    white-space: pre-wrap;
}

.fail-connect::after {
    content: "Die Verbindung zum Server ist fehlgeschlagen!\A \A Bitte versuchen Sie es erneut.";
    white-space: pre-wrap;
}

.no-server::after {
    content: "Die Verbindung zum Server ist fehlgeschlagen!\A \A Bitte versuchen Sie es erneut.";
    white-space: pre-wrap;
}

.no-database::after {
    content: "Die Verbindung zur Datenbank ist fehlgeschlagen!";
    white-space: pre-wrap;
}

.border-edged {
    border-radius: 0 0 .1vw .1vw;
}

/*Ende Header wrap*/

/*Start Content wrap*/

.wrap-content {
    display: table;
    grid-area: wrapMain;
    text-align: center;
    width: 100%;
    margin-top: .1vw;
    border-left: solid 1px ghostwhite;
    border-right: solid 1px ghostwhite;
    background-color: ghostwhite;
}

.content-header-row {
    display: table-header-group;
    font-weight: bold;
    background-color: gainsboro;
}

.content-header-cell {
    display: table-cell;
    padding: 1.2vh 0 1.2vh 0;
    border-left: solid 1px ghostwhite;
    border-bottom: none;
    border-bottom: 2px solid cornflowerblue;
    font-size: 1.1vw;
    white-space: nowrap;
    vertical-align: middle;
}

.content-header-cell.empty {}

.content-header-cell:nth-child(1) {
    border-left: 0;
}

.content-main-row {
    display: table-row;
}

.content-main-row:hover {
    text-shadow: -1px 0 black;
    background-color: #ededed;
    box-shadow: 0px 1px 5px 0px rgb(0, 0, 0);
}

.content-main-cell {
    display: table-cell;
    padding: .8vh .3vw .8vh .3vw;
    vertical-align: middle;
    border-left: solid 1px gainsboro;
    border-bottom: solid 1px gainsboro;
    font-size: 1.1vw;
    white-space: nowrap;
}

.content-main-cell:nth-child(1) {
    border-left: 0;
}

.content-button-check {
    height: 100%;
    width: 100%;
    border-radius: .1vw;
    font-size: 1.1vw;
    background-color: #ededed;
    white-space: nowrap;
}

.content-button-check:hover {
    background-color: #98e698;
}

.content-button-delete {
    height: 100%;
    width: 100%;
    font-size: 1.1vw;
    background-color: #f77;
}

.content-button-delete:hover {
    background-color: #f22;
}

.content-footer-count-row {
    display: table-row;
    width: 100%;
}

.content-footer-count-input {
    display: table-cell;
    height: 3vw;
    padding: 5px 0 5px 0;
    border-top: solid 2px cornflowerblue;
    font-size: 1.1vw;
    line-height: 1.2;
    background-color: gainsboro;
}

.content-footer-counter {
    font-size: 1.5vw;
}

.slideToggle-wrap-hidden-row {
    display: none;
}

.wrap-hidden-row {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "confirmButton cancelButton";
    width: 100%;
}

.hidden-row {
    font-size: 1vw;
}

.hidden-row.confirm-button {
    grid-area: confirmButton;
    background-color: #98e698;
}

.hidden-row.confirm-button:hover {
    background-color: #32CD32;
}

.hidden-row.cancel-button {
    grid-area: cancelButton;
    background-color: #f77;
}

.hidden-row.cancel-button:hover {
    background-color: #ff0000;
}

/*Ender Content wrap*/

/*Start Footer wrap*/

.wrap-footer {
    grid-area: wrapFooter;
    width: 100%;
}

.footer-button-send {
    display: grid;
    grid-area: SendButton;
    width: 100%;
    height: 100%;
    border: 0;
    border-top: solid 2px #9A9A9A;
    border-radius: 0 0 .1vw .1vw;
    font-size: 3vw;
    background-color: gainsboro;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
}

.footer-button-send:hover {
    background-color: #32CD32;
}

/*Ende Footer wrap*/

/*Start Sticky Footer*/

.sticky-footer-height {
    height: 0;
}

.sticky-footer-message-wrap {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "successContent" "failContent";
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: -2000px;
    transition: transform 300ms cubic-bezier(0.47, 0, 0.75, 0.72);
}

.sticky-footer-message-animation {
    transform: translateX(-2000px);
}

.transmission-successful-wrapper {
    grid-area: successContent;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 10vw;
    background-color: #32CD32;
}

.transmission-success-message-wrap {
    text-align: center;
    font-size: 5vw;
}

.transmission-fail-wrap {
    grid-area: failContent;
    background-color: #ff0000;
    width: 100%;
}

.transmission-failed-wrapper-failMessage {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 5vw;
    width: 100%;
    border-bottom: 1px dashed black;
}

.transmission-fail-message-wrap {
    text-align: center;
    font-size: 3vw;
}

.transmission-failed-wrapper-doubleItems {
    padding: 1vh;
    width: 100%;
    background-color: #ff0000;
}

.transmission-double-input-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: auto;
    justify-content: center;
    justify-items: center;
}

.transmission-doubleInput-data {
    padding: 0 10px;
    font-size: 2vw;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, .5);
}

/*Ende Sticky Footer*/

/*Start Highlight Rows*/

.highlightSelectedRow {
    text-shadow: -1px 0 black;
    background-color: #f22;
}

.highlightSelectedRow:hover {
    background-color: #f22;
}

.highlightSelectedButton {
    background-color: #f22 !important;
}

/*Ende Highlight Rows*/